body {
    background: linear-gradient(to bottom, #5c5cd6, white); 
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.right {
    position: fixed;
    right: 0px;
    margin:"0px 50px"
}


 .bg-image-blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}
